---
# Only the main Sass file needs front matter (the dashes are enough)
---

// manifest

// bourbon manifest
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

// my breakpoints
$mobile-size:em(320);
$tablet-size:em(720);
$desktop-size:em(900);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size max-width $tablet-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);



// custom sass manifest
@import "custom/base";





// some resets and custom overrides
body {
  @include outer-container(100);
  @include margin(0);
  min-height: 800px;
  background: url("../images/floor-1256804_1920.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



// navigation overrides
// header.navigation {
//   @extend header.navigation;
//   background-color: #F6F6F6;
//   background: #F6F6F6;
//   border: none;
//   color: black;

//   .navigation-menu-button, .navigation-menu-button:focus, .navigation-menu-button:hover {
//     color: black;
//   }


//   .nav-link.standup {
//     @include media($desktop) {
//       display: none;
//     }
//   }

//   .standup:hover {
//     color: red;
//   }

//   ul li.nav-link {
//     background: transparent;

//     a {
//       color: black;
//     }
//   }
// }



// // footer color
// footer.footer-2 {
//   @include linear-gradient(135deg, rgba(213,206,166,1) 0%,rgba(201,193,144,1) 40%,rgba(183,173,112,1) 100%);
// }

// .footer-2 .footer-secondary-links ul.footer-social  {
//   margin-top: 0px;
// }

// used for control
.wrapper {

  .main-container {

    img {
      padding-top: 3em;
      width: 65%;
      margin: auto;
      display: block;
      max-width: 300px;
    }

    h1 {
      font-family: helvetica;
      color: white;
      text-align: center;
      padding: 2em;
      margin-top: -20px;
      margin-bottom: 0px;
      font-weight: 200;
    }

    h5 {
      color: white;
      text-align: center;
      margin-bottom: 0px;
      margin-top: -20px;
      padding-bottom: 2em;
      font-weight: 200;
    }
  }
}





